*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box ;
}
body{
    align-items: center;
    font-family: 'Nunito', sans-serif;
    color: #333;
    height: 100vh;
    font-weight: 400;
    justify-content: center;
    display: flex;
    background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}

main{
    width: 100rem;
    height: 60rem;
    position: relative;
    display: flex;
    filter: blur();
    backdrop-filter: blur(200px);
    overflow: hidden;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.35);

}

.player{
    flex: 50%;
    padding: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name{
    position: relative;
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-transform: uppercase;
}

.score{
    font-size: 8rem;
    font-weight: 300;
    color: #c7365f;
    margin-bottom: auto;    
}

.current{
    background-color: #c7365f;
    padding: 2rem;
    opacity: 0.8;
    border-radius: 9px;
    text-align: center;
    width: 65%;
    color: #fff;
    transition: all 0.7s;
}

.current-label{
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: #ddd;
}

.current-score{
    font-size: 3.5rem;
}

.player--active{
    background-color: rgba(255, 255, 255, 0.4);
}

.player--active .name{
    font-weight: 700;
}

.player--active .score{
    font-weight: 400;
}

.dice{
    position: absolute;
    height: 10rem;
    top: 16.5rem;
    transform: translate(-50%);
    left: 50%;
}

.btn{
    position: absolute;
    left: 50%;
    color: #444;
    transform: translateX(-50%);
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;

    background: no4;
    cursor: pointer;
    background-color: white;
    border: none;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn--new{
    top: 4rem;
}

.btn--roll{
    top: 39.3rem;
}

.btn--hold{
    top: 46.1rem;
}